#board-messages {
    & {
        padding: 1rem 0;
    }

    li {
        & {
            display: block;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid #c3c3c3;
        }

        p {
            & {
                display: block;
                color: #3f3f3f;
                font-size: 14px;
            }

            &.title {
                & {
                    font-size: 18px;
                    font-weight: 900;
                }
            }

            &.text-content {
                & {
                    font-size: 16px;
                    margin: .5rem 0;
                }
            }
        }
    }
}