#boards-list {
    & {
        padding: 1rem 0;
        flex-wrap: wrap;
    }

    li {
        & {
            padding: 10px;

            color: #3f3f3f;
            background: #fff;
        }

        &:hover {
            & {
                background: #3f3f3f;
                color: #fff;
            }

            a {
                & {
                    color: #fff;
                }
            }
        }

        a {
            & {
                color: #3f3f3f;
            }
        }
    }
}